In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import statistics 
import io

In [3]:
source= requests.get('https://fbref.com/en/comps/Big5/defense/players/Big-5-European-Leagues-Stats').text
soup=BeautifulSoup(source)
table=soup.find_all('table')
ta = table[0]
html_string = str(ta)
df = pd.read_html(io.StringIO(html_string))[0]

In [4]:
df

     Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                     Rk             Player             Nation
0                     1         Max Aarons            eng ENG
1                     2   Brenden Aaronson             us USA
2                     3    Paxten Aaronson             us USA
3                     4  Keyliane Abdallah             fr FRA
4                     5   Yunis Abdelhamid             ma MAR
...                 ...                ...                ...
2961               2849    Martin Ødegaard             no NOR
2962               2850        Milan Đurić             ba BIH
2963                 Rk             Player             Nation
2964               2851        Milan Đurić             ba BIH
2965               2852   Mateusz Łęgowski             pl POL

     Unnamed: 3_level_0 Unnamed: 4_level_0  Unnamed: 5_level_0  \
                    Pos              Squad                Comp
0                    DF        Bournemouth  eng Premier League
1                 MF,FW       Union Berlin       de Bundesliga
2                    MF     Eint Frankfurt       de Bundesliga
3                    FW          Marseille          fr Ligue 1
4                    DF              Reims          fr Ligue 1
...                 ...                ...                 ...
2961                 MF            Arsenal  eng Premier League
2962                 FW      Hellas Verona          it Serie A
2963                Pos              Squad                Comp
2964                 FW              Monza          it Serie A
2965                 MF        Salernitana          it Serie A

     Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0 Tackles  ...  \
                    Age               Born                90s     Tkl  ...
0                    23               2000               13.7      29  ...
1                    22               2000               14.1      32  ...
2                    19               2003                1.1       2  ...
3                    17               2006                0.0       0  ...
4                    35               1987               30.9      64  ...
...                 ...                ...                ...     ...  ...
2961                 24               1998               34.3      49  ...
2962                 33               1990               13.4       1  ...
2963                Age               Born                90s     Tkl  ...
2964                 33               1990               14.0       5  ...
2965                 20               2003               12.7      23  ...

     Challenges        Blocks           Unnamed: 21_level_0  \
           Tkl%  Lost  Blocks  Sh  Pass                 Int
0          58.8    14       9   5     4                   8
1          50.0    16      26   1    25                   2
2         100.0     0       2   0     2                   0
3           NaN     0       0   0     0                   0
4          57.8    19      51  32    19                  39
...         ...   ...     ...  ..   ...                 ...
2961       29.3    41      23   1    22                  15
2962        0.0     3       0   0     0                   1
2963       Tkl%  Lost  Blocks  Sh  Pass                 Int
2964       50.0     2       6   2     4                   0
2965       42.3    15      13   2    11                   7

     Unnamed: 22_level_0 Unnamed: 23_level_0 Unnamed: 24_level_0  \
                 Tkl+Int                 Clr                 Err
0                     37                  27                   0
1                     34                   4                   0
2                      2                   0                   0
3                      0                   0                   0
4                    103                 109                   2
...                  ...                 ...                 ...
2961                  64                   5                   0
2962                   2                  13                   0
2963             Tkl+Int                 Clr                 Err
2964                   5                  27                   0
2965                  30                  16                   0

     Unnamed: 25_level_0
                 Matches
0                Matches
1                Matches
2                Matches
3                Matches
4                Matches
...                  ...
2961             Matches
2962             Matches
2963             Matches
2964             Matches
2965             Matches

[2966 rows x 26 columns]

In [5]:
df.to_csv('Defence.csv')

In [6]:
df = pd.read_csv('Defence.csv', skiprows=0)

In [7]:
new_header = df.iloc[0]
df = df[1:]
df.columns = new_header
df

,NaN,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,...,Tkl%,Lost,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err,Matches
1,0.0,1,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,23,2000,13.7,...,58.8,14,9,5,4,8,37,27,0,Matches
2,1.0,2,Brenden Aaronson,us USA,"MF,FW",Union Berlin,de Bundesliga,22,2000,14.1,...,50.0,16,26,1,25,2,34,4,0,Matches
3,2.0,3,Paxten Aaronson,us USA,MF,Eint Frankfurt,de Bundesliga,19,2003,1.1,...,100.0,0,2,0,2,0,2,0,0,Matches
4,3.0,4,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,17,2006,0.0,...,NaN,0,0,0,0,0,0,0,0,Matches
5,4.0,5,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,35,1987,30.9,...,57.8,19,51,32,19,39,103,109,2,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2962,2961.0,2849,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,24,1998,34.3,...,29.3,41,23,1,22,15,64,5,0,Matches
2963,2962.0,2850,Milan Đurić,ba BIH,FW,Hellas Verona,it Serie A,33,1990,13.4,...,0.0,3,0,0,0,1,2,13,0,Matches
2964,2963.0,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,...,Tkl%,Lost,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err,Matches
2965,2964.0,2851,Milan Đurić,ba BIH,FW,Monza,it Serie A,33,1990,14.0,...,50.0,2,6,2,4,0,5,27,0,Matches
2966,2965.0,2852,Mateusz Łęgowski,pl POL,MF,Salernitana,it Serie A,20,2003,12.7,...,42.3,15,13,2,11,7,30,16,0,Matches

In [8]:
df.to_csv('Defencee.csv')

In [9]:
df = pd.read_csv('Defencee.csv')

In [10]:
df.index=df['Rk']
df = df.drop(df.columns[:3], axis=1)

In [11]:
df['Nation'] = df['Nation'].str.split(r' ').str.get(1)
df['Comp'] = df['Comp'].str.split(r' ').str.get(1)
df['Comp'] = df['Comp'].str.replace('Premier','Premier League')
df['Comp'] = df['Comp'].str.replace('Ligue','Ligue 1')
df['Comp'] = df['Comp'].str.replace('Serie','Serie A')
df['Comp'] = df['Comp'].str.replace('La','La Liga')

In [12]:
df = df.drop(['Born'],axis=1)
df

,Player,Nation,Pos,Squad,Comp,Age,90s,Tkl,TklW,Def 3rd,...,Tkl%,Lost,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err,Matches
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,ENG,DF,Bournemouth,Premier League,23,13.7,29,19,20,...,58.8,14,9,5,4,8,37,27,0,Matches
2,Brenden Aaronson,USA,"MF,FW",Union Berlin,Bundesliga,22,14.1,32,18,13,...,50.0,16,26,1,25,2,34,4,0,Matches
3,Paxten Aaronson,USA,MF,Eint Frankfurt,Bundesliga,19,1.1,2,2,1,...,100.0,0,2,0,2,0,2,0,0,Matches
4,Keyliane Abdallah,FRA,FW,Marseille,Ligue 1,17,0.0,0,0,0,...,NaN,0,0,0,0,0,0,0,0,Matches
5,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,30.9,64,35,36,...,57.8,19,51,32,19,39,103,109,2,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2849,Martin Ødegaard,NOR,MF,Arsenal,Premier League,24,34.3,49,17,18,...,29.3,41,23,1,22,15,64,5,0,Matches
2850,Milan Đurić,BIH,FW,Hellas Verona,Serie A,33,13.4,1,0,0,...,0.0,3,0,0,0,1,2,13,0,Matches
Rk,Player,NaN,Pos,Squad,NaN,Age,90s,Tkl,TklW,Def 3rd,...,Tkl%,Lost,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err,Matches
2851,Milan Đurić,BIH,FW,Monza,Serie A,33,14.0,5,5,0,...,50.0,2,6,2,4,0,5,27,0,Matches
2852,Mateusz Łęgowski,POL,MF,Salernitana,Serie A,20,12.7,23,12,8,...,42.3,15,13,2,11,7,30,16,0,Matches

In [13]:
df = df.drop(df[df['Player'] == 'Player'].index)

In [14]:
df2 = df.copy()

In [15]:
df2

,Player,Nation,Pos,Squad,Comp,Age,90s,Tkl,TklW,Def 3rd,...,Tkl%,Lost,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err,Matches
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,ENG,DF,Bournemouth,Premier League,23,13.7,29,19,20,...,58.8,14,9,5,4,8,37,27,0,Matches
2,Brenden Aaronson,USA,"MF,FW",Union Berlin,Bundesliga,22,14.1,32,18,13,...,50.0,16,26,1,25,2,34,4,0,Matches
3,Paxten Aaronson,USA,MF,Eint Frankfurt,Bundesliga,19,1.1,2,2,1,...,100.0,0,2,0,2,0,2,0,0,Matches
4,Keyliane Abdallah,FRA,FW,Marseille,Ligue 1,17,0.0,0,0,0,...,NaN,0,0,0,0,0,0,0,0,Matches
5,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,30.9,64,35,36,...,57.8,19,51,32,19,39,103,109,2,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2848,Lovro Zvonarek,CRO,"FW,MF",Bayern Munich,Bundesliga,18,1.8,0,0,0,...,0.0,5,3,0,3,0,0,2,0,Matches
2849,Martin Ødegaard,NOR,MF,Arsenal,Premier League,24,34.3,49,17,18,...,29.3,41,23,1,22,15,64,5,0,Matches
2850,Milan Đurić,BIH,FW,Hellas Verona,Serie A,33,13.4,1,0,0,...,0.0,3,0,0,0,1,2,13,0,Matches
2851,Milan Đurić,BIH,FW,Monza,Serie A,33,14.0,5,5,0,...,50.0,2,6,2,4,0,5,27,0,Matches
2852,Mateusz Łęgowski,POL,MF,Salernitana,Serie A,20,12.7,23,12,8,...,42.3,15,13,2,11,7,30,16,0,Matches

In [16]:
df2.drop(df2.columns[-1],inplace=True,axis=1)

In [17]:
df2.drop(df2.columns[:6],inplace=True,axis=1)

In [19]:
df2.drop(df2.columns[3:6],inplace=True,axis=1)

In [21]:
df2.drop(df2.columns[6],inplace=True,axis=1)

In [23]:
df2.drop(df2.columns[10],inplace=True,axis=1)

In [24]:
df2

       90s Tkl TklW Tkl.1 Att   Tkl% Blocks  Sh Pass Int  Clr Err
Rk
1     13.7  29   19    20  34   58.8      9   5    4   8   27   0
2     14.1  32   18    16  32   50.0     26   1   25   2    4   0
3      1.1   2    2     1   1  100.0      2   0    2   0    0   0
4      0.0   0    0     0   0    NaN      0   0    0   0    0   0
5     30.9  64   35    26  45   57.8     51  32   19  39  109   2
...    ...  ..  ...   ...  ..    ...    ...  ..  ...  ..  ...  ..
2848   1.8   0    0     0   5    0.0      3   0    3   0    2   0
2849  34.3  49   17    17  58   29.3     23   1   22  15    5   0
2850  13.4   1    0     0   3    0.0      0   0    0   1   13   0
2851  14.0   5    5     2   4   50.0      6   2    4   0   27   0
2852  12.7  23   12    11  26   42.3     13   2   11   7   16   0

[2852 rows x 12 columns]

In [26]:
df3 = df2.copy()
df3 = df3.rename(columns={'Tkl': 'TklAPlayers90','TklW': 'TklW90','Tkl.1':'TklADribblers90','Att':'TklAttDri90','Blocks':'Bl90','Sh':'ShBl90','Pass':'PassBl90','Int':'Int90','Clr':'Clr90','Err':'Err90'})
df3

,90s,TklAPlayers90,TklW90,TklADribblers90,TklAttDri90,Tkl%,Bl90,ShBl90,PassBl90,Int90,Clr90,Err90
Rk,,,,,,,,,,,,
1,13.7,29,19,20,34,58.8,9,5,4,8,27,0
2,14.1,32,18,16,32,50.0,26,1,25,2,4,0
3,1.1,2,2,1,1,100.0,2,0,2,0,0,0
4,0.0,0,0,0,0,NaN,0,0,0,0,0,0
5,30.9,64,35,26,45,57.8,51,32,19,39,109,2
...,...,...,...,...,...,...,...,...,...,...,...,...
2848,1.8,0,0,0,5,0.0,3,0,3,0,2,0
2849,34.3,49,17,17,58,29.3,23,1,22,15,5,0
2850,13.4,1,0,0,3,0.0,0,0,0,1,13,0
2851,14.0,5,5,2,4,50.0,6,2,4,0,27,0
2852,12.7,23,12,11,26,42.3,13,2,11,7,16,0

In [28]:
df3 = df3.astype(float)

In [29]:
df3['TklAPlayers90']=df3['TklAPlayers90']/df3['90s']
df3['TklW90']=df3['TklW90']/df3['90s']
df3['TklADribblers90']=df3['TklADribblers90']/df3['90s']
df3['TklAttDri90']=df3['TklAttDri90']/df3['90s']
df3['Bl90']=df3['Bl90']/df3['90s']
df3['ShBl90']=df3['ShBl90']/df3['90s']
df3['PassBl90']=df3['PassBl90']/df3['90s']
df3['Int90']=df3['Int90']/df3['90s']
df3['Clr90']=df3['Clr90']/df3['90s']
df3['Err90']=df3['Err90']/df3['90s']

In [30]:
df3 = df3.round(2)

In [31]:
df3

,90s,TklAPlayers90,TklW90,TklADribblers90,TklAttDri90,Tkl%,Bl90,ShBl90,PassBl90,Int90,Clr90,Err90
Rk,,,,,,,,,,,,
1,13.7,2.12,1.39,1.46,2.48,58.8,0.66,0.36,0.29,0.58,1.97,0.00
2,14.1,2.27,1.28,1.13,2.27,50.0,1.84,0.07,1.77,0.14,0.28,0.00
3,1.1,1.82,1.82,0.91,0.91,100.0,1.82,0.00,1.82,0.00,0.00,0.00
4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,30.9,2.07,1.13,0.84,1.46,57.8,1.65,1.04,0.61,1.26,3.53,0.06
...,...,...,...,...,...,...,...,...,...,...,...,...
2848,1.8,0.00,0.00,0.00,2.78,0.0,1.67,0.00,1.67,0.00,1.11,0.00
2849,34.3,1.43,0.50,0.50,1.69,29.3,0.67,0.03,0.64,0.44,0.15,0.00
2850,13.4,0.07,0.00,0.00,0.22,0.0,0.00,0.00,0.00,0.07,0.97,0.00
2851,14.0,0.36,0.36,0.14,0.29,50.0,0.43,0.14,0.29,0.00,1.93,0.00
2852,12.7,1.81,0.94,0.87,2.05,42.3,1.02,0.16,0.87,0.55,1.26,0.00

In [33]:
df3.drop(df2.columns[0],inplace=True,axis=1)

In [34]:
df3.to_csv('Defence_stat.csv')